<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
  <title>CMPT218 Assignment 3</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="./style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>

</head>
<body>
<div id="app">
  <section class="section" v-if="show == 'login'">
    <div class="container">
        <h1 class="title is-1 is-centered">ADMIN LOGIN</h1>
        <div class="card">
            <div class="field card-content">

                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-primary" type="text" placeholder="Username here" v-model="username">
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                </div>

                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-primary" type="text" placeholder="Password here" v-model="password">
                    <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
                </span>
                </div>
                <br>
                <button class="button is-link" v-on:click="logIn()">Login</button>
								<br>
							 	<br>
								<button class="button is-dark" v-on:click="goToCheckIn()">Check-in</button>
            </div>
        </div>
        <br>

        <br>
    </div>
  </section>

  <section class="section" v-if="show == 'landing'">
		<div class="container">
			<h1 class="title is-1 is-centered">ADMIN LANDING</h1>
			<div class="card">
				<div class="field card-content">
					<label class="label">Check-in ID</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input is-primary" type="text" placeholder="Check-in ID here" v-model="checkIn">
						<span class="icon is-small is-left">
						 <i class="fas fa-id-card"></i>
						</span>
						<br>
						<br>
						<button class="button is-success" v-on:click="eventStart()">Start Check-in</button>
						<br>
						<br>
						<button class="button is-info" v-on:click="goToHistory()">View History</button>
					</div>
				</div>
			</div>
		</div>
  </section>

  <section class="section" v-if="show == 'eventStart'">
      <div class="container">
          <h1 class="title is-1 is-centered">CHECKING IN</h1>
          <div class="card">
              <div class="field card-content">

                  <label class="label">{{ checkIn }}</label>
                  <div class="control has-icons-left has-icons-right">
                      <br>
                      <br>
                      <button class="button is-danger" v-on:click="stopEvent()" >Stop Check-in</button>
                      <br>
                      <br>
                      <button class="button is-dark" v-on:click="goToLogIn()">Back to Log-in page</button>
                  </div>
              </div>
          </div>
      </div>
  </section>

    <section class="section" v-if="show == 'checked-in'">
      <div class="container">
          <h1 class="title is-1 is-centered">CHECKED IN</h1>
          <div class="card">
              <div class="field card-content">

                  <label class="label">{{ checkIn }}</label>
                  <div class="control has-icons-left has-icons-right">
										<h3>Check in history for: {{ checkIn }}</h3>
										<br>
										<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
											<thead>
											<tr>
												<th>Name</th>
												<th>User ID</th>
											</tr>
											</thead>
											<tbody v-for="attendees in attendees">
											<tr>
												<td> {{ attendees.name }} </td>
												<td> {{ attendees.userID }} </td>
											</tr>
											</tbody>
										</table>
                      <br>
                      <br>
                      <button class="button is-dark" v-on:click="goToLogIn()">Back to Log-in page</button>
                  </div>
              </div>
          </div>
      </div>
  </section>

    <section class="section" v-if="show == 'history'">
      <div class="container">
          <h1 class="title is-1 is-centered">Check-in History</h1>
          <div class="card">
              <div class="field card-content">

                  <label class="label">{{ checkIn }}</label>
                  <div class="control has-icons-left has-icons-right">
                      <h3>All users that checked in to {{ checkIn }}:</h3>
                      <br>
											<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
												<thead>
												<tr>
													<th>Name</th>
													<th>User ID</th>
													<th>Event ID</th>
													<th>Event Name</th>
												</tr>
												</thead>
												<tbody v-for="history in history">
												<tr>
													<td>{{ history.name }}</td>
													<td>{{ history.userID }}</td>
													<td>{{ history.eventID }}</td>
													<td>{{ history.string }}</td>
												</tr>
												</tbody>
											</table classtable>
												<br>
                      <button class="button is-dark" v-on:click="goToLogIn()">Back to Log-in page</button>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="section" v-if="show == 'check-in'">
    <div class="container">
        <h1 class="title is-1 is-centered">CHECK-IN</h1>
        <div class="card">
            <div class="field card-content">

              <label class="label">Check-in String</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-primary" type="text" placeholder="String here" v-model="string">
                <span class="icon is-small is-left">
                <i class="fas fa-pencil"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>

                <label class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-primary" type="text" placeholder="Full name here" v-model="name">
                    <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
                </div>

                <label class="label">User ID</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-primary" type="text" placeholder="Student number here" v-model="userID">
                    <span class="icon is-small is-left">
                <i class="fas fa-id-card"></i>
                </span>
                </div>
                <br>
                <button class="button is-primary" v-on:click="CheckIn()">Check-in</button>
                <br>
                <br>
                <button class="button is-dark" v-on:click="goToLogIn()">Back to Log-in page</button>
            </div>
        </div>
    </div>
  </section>

    <section class="section" v-if="show == 'thanks'">
        <div class="container">
            <h1 class="title is-1 is-centered">Thanks for checking in with us!</h1>
            <div class="card">
                <div class="field card-content">

                    <label class="label">{{ checkIn }}</label>
                    <div class="control has-icons-left has-icons-right">
                        <p>You just checked in for {{ checkIn }}:</p>
                        <br>
                        <br>
                        <button class="button is-dark" v-on:click="goToLogIn()">Back to Log-in page</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="login.js" ></script>
</body>
</html>