<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <section class="section" id="login">
        <div class="container">
            <h1 class="title is-1 is-centered">Admin LogIn</h1>
            <div class="card">
                <div class="field card-content">

                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-primary" type="text" placeholder="Username here" value="Username" v-model="username">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <p class="help is-success">This username is available</p>
                    </div>

                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-primary" type="text" placeholder="Password here" value="Password" v-model="password">
                        <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                    </span>
                    </div>
                </div>
            </div>
            <p>Username is: {{ username }}</p>
            <p>Password is: {{ password }}</p>
        </div>
    </section>
<script src="login.js" ></script>
</body>
</html>