<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
  <title>CMPT218 Assignment 4</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="./style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>

</head>
<body>
<div id="app">

	<nav class="navbar is-transparent">
		<div class="navbar-brand">
			<a class="navbar-item">
				<img src="./android-chrome-384x384.png" alt="Logo" width="50" height="50">
			</a>
			<div class="navbar-burger burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div id="navbarExampleTransparentExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" v-on:click="logOut()">
					Log Out
				</a>
				<!--<div class="navbar-item has-dropdown is-hoverable">-->
					<!--<a class="navbar-link" href="/documentation/overview/start/">-->
						<!--Docs-->
					<!--</a>-->
					<!--<div class="navbar-dropdown is-boxed">-->
						<!--<a class="navbar-item" href="/documentation/overview/start/">-->
							<!--Overview-->
						<!--</a>-->
						<!--<a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">-->
							<!--Modifiers-->
						<!--</a>-->
						<!--<a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">-->
							<!--Columns-->
						<!--</a>-->
						<!--<a class="navbar-item" href="https://bulma.io/documentation/layout/container/">-->
							<!--Layout-->
						<!--</a>-->
						<!--<a class="navbar-item" href="https://bulma.io/documentation/form/general/">-->
							<!--Form-->
						<!--</a>-->
						<!--<hr class="navbar-divider">-->
						<!--<a class="navbar-item" href="https://bulma.io/documentation/elements/box/">-->
							<!--Elements-->
						<!--</a>-->
						<!--<a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">-->
							<!--Components-->
						<!--</a>-->
					<!--</div>-->
				</div>
			</div>

			<div class="navbar-end">
				<!--<div class="navbar-item">-->
					<!--<div class="field is-grouped">-->
						<!--<p class="control">-->
							<!--<a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">-->
              <!--<span class="icon">-->
                <!--<i class="fab fa-twitter"></i>-->
              <!--</span>-->
								<!--<span>-->
                <!--Tweet-->
              <!--</span>-->
							<!--</a>-->
						<!--</p>-->
						<!--<p class="control">-->
							<!--<a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.6.2/bulma-0.6.2.zip">-->
              <!--<span class="icon">-->
                <!--<i class="fas fa-download"></i>-->
              <!--</span>-->
								<!--<span>Download</span>-->
							<!--</a>-->
						<!--</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</nav>

  <section class="section" v-if="show == 'login'">
    <div class="container">
        <h1 class="title is-1 is-centered">LOGIN</h1>
        <div class="card">
            <div class="field card-content">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
									<input class="input is-primary" type="text" placeholder="Username here" v-model="username">
									<span class="icon is-small is-left">
										<i class="fas fa-user"></i>
									</span>
									<span class="icon is-small is-right">
										<i class="fas fa-check"></i>
									</span>
                </div>
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-primary" type="text" placeholder="Password here" v-model="password">
                    <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
                </span>
                </div>
                <br>
                <button class="button is-link" v-on:click="logIn()">Login</button>
								<br>
							 	<br>
							<button class="button is-dark" v-on:click="goToRegister()">No Account? Register here.</button>
            </div>
        </div>
        <br>
        <br>
    </div>
  </section>

	<section class="section" v-if="show == 'register'">
		<div class="container">
			<h1 class="title is-1 is-centered">REGISTER YOUR ACCOUNT</h1>
			<div class="card">
				<div class="field card-content">
					<label class="label">Username</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input is-primary" type="text" placeholder="Username here" v-model="username">
						<span class="icon is-small is-left">
							<i class="fas fa-user"></i>
						</span>
						<span class="icon is-small is-right">
							<i class="fas fa-check"></i>
						</span>
					</div>
					<label class="label">Password</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input is-primary" type="text" placeholder="Password here" v-model="password">
						<span class="icon is-small is-left">
							<i class="fas fa-key"></i>
						</span>
					</div>
					<br>
					<button class="button is-link" v-on:click="register()">Create Account</button>
					<br>
					<br>
				</div>
			</div>
			<br>
			<br>
		</div>
	</section>

	<section class="section" v-if="show == 'landing'">
		<div class="container">
			<h1 class="title is-1 is-centered">{{ username }} stats</h1>
			<div class="card">
				<div class="field card-content">
				</div>
			</div>
		</div>
	</section>

</div>

<script src="login.js" ></script>
</body>
</html>