td {
    background-color: lightgrey;
    border: thin solid black;
    margin: 0px;
}

th {
    background-color: lightgrey;
    border: thin solid black;
}

tr {
    margin: 0px;
}

.grey {
    background-color: grey;
}

table {
    border-collapse: collapse;
}

#table1 {
    margin-right: 5px;
    float: left;
    width: 40%;
    height: 40%;
}

#table1 td {

}

#table2 {
    display: none;
    float: left;
    width: 40%;
    height: 40%;
}

#buttons {
    position: fixed;
    top: 50%;
    text-align: center;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: x-large;
    font-style: oblique;
}

#tables {
    display: block;
    width: 98%;
}