td {
    background-color: lightgrey;
    border: thin solid black;
    margin: 0px;
}

th {
    background-color: lightgrey;
    border: thin solid black;
}

tr {
    margin: 0px;
}

.grey {
    background-color: grey;
}

table {
    border-collapse: collapse;
}

#table1 {
    float:left;
    margin-right: 5px;
}

#table1 td {

}

#table2 {
    display: none;
}

.showTable {
    display: block;
}

button #cheat {
    float: left;
}