td {
    background-color: lightgrey;
    border: thin solid black;
    margin: 0px;
}

th {
    background-color: lightgrey;
    border: thin solid black;
}

tr {
    margin: 0px;
}

.grey {
    background-color: grey;
}

table {
    border-collapse: collapse;
}

#table1 {
    margin-right: 2%;
    float: left;
    width: 49%;
    height: 50%;
}

#table1 td {

}

#table2 {
    display: none;
    float: left;
    width: 49%;
    height: 50%;
}

#buttons {
    position: fixed;
    top: 55%;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: x-large;
    font-style: oblique;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

#tables {
    display: block;
    width: 100%;
}

